body {
	margin: 0;
	background-color: black;
}

.title {
	text-align: center;
	margin-top: 0;
	padding-top: 50px;
	font-family: 'IMB Plex Sans', sans-serif;
	color: white;
	font-size: 3.5em;
}

.z {
	color: white;
	float: left;
	margin: 0px;
	padding: 0px;
}

.saturn {
	width: 30%;
}

.title1 {
	text-align: center;
	margin-top: 0;
	padding-top: 50px;
	font-family: 'Indie Flower', sans-serif;
	color: white;
	font-size: 4em;
}

.p1 {
	color: white;
}

.pg {
	color: white;
	font-size: 1.8em;
}

@media (max-width: 2550px) {
	.pg {
		width: 100%;
	}
}

.pf {
	color: white;
	font-size: 1.8em;
	padding: 0px 600px 0px 0px;
	margin: 40px 5px 0px 10px;
	position: absolute;
}

@media (max-width: 1103px) {
	.pf {
		font-size: 1em;
	}
}

.tg {
	padding: 0px 1100px 0px 0px;
	margin: 40px 5px 0px 10px;
	position: absolute;
}

@media (max-width: 2050px) {
	.tg {
		padding: 0px 900px 0px 0px;		
	}
}

@media (max-width: 1600px) {
	.tg {
		padding: 0px 800px 0px 0px;		
	}
}

@media (max-width: 1400px) {
	.pg {
		font-size: 1.2em;		
	}
}

@media (max-width: 1330px) {
	.tg {
		padding: 0px 600px 0px 0px;		
	}
}

.icon {
	margin-left: 35px; /** 50px **/
	margin-top: 35px;
}

header {
	width: 100%;
	height: 130px;
	background-color: black;
	border-bottom: 2px solid #2C2C2D;
}

h1 {
	margin-top: 0;
}

.wrapper {
	height: 1080px;
	background-image: url("../img/stars-galaxy.jpg");
	background-size: cover;
	background-position: center center;
}

table.wikitable {
    	color: #222;
    	border-collapse: collapse;
}

table.wikitable > * > tr > td {
    	border: 1px solid #a2a9b1;
    	padding: 0.2em 0.4em;
	color: white;
}

table.wikitable {
	float: right;
	margin-right: 55px;
	font-size: 1.4em;
}

@media only screen and (min-width: 450px) {
	table.wikitable {
		margin-top: 20px;
		width: 30%;
		height: auto;
	}
}

ul {
	float: right;
	list-style: none;
	margin-top: -45px;
	margin-right: 30px; /** 50px **/
	color: white;
}

@media only screen and (max-width: 445px) {
	ul {
		width: 290px;
	}
}

@media only screen and (max-width: 430px) {
	ul {
		margin-top: -50px;
	}
}

@media only screen and (max-width: 380px) {
	ul {
		width: 190px;
		margin-top: -55px;
	}
}

li {
	float: right;
	text-decoration: none;
	margin-left: 25px;
}

a {
	color: white;
	text-decoration: none;
	font-size: 16px;
}

.img_urknall {
	float: right;
	margin: 0px;
	border: 3px solid white;
	width: 42.5%;                  /*width: 506px;*/
	height: auto; 		     /*height: 361.983px;*/
}

@media only screen and (max-width: 1000px) {
	.img_urknall {
		margin-top: 20px;
		height: auto;
	}
	
	.pg {
		width: 80%;
		height: auto;
	}
}

ul li a {
  	position: relative;
  	color: white;
  	text-decoration: none;
  	z-index: 1;
}

ul li a::before {
  	content:'';
  	position: absolute;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 0;
  	background-color: white;
  	color: black;
  	transition: all 250ms;
  	-moz-transition: all 250ms;
  	z-index: -1;
}

ul li a:hover::before {
  	height: 100%;
}

ul li a:hover {
	color: black;	
}

footer {
	background-color: black;
	height: 65px;
}

footer p {
	color: white;
	text-align: center;
	margin-top: 42px;
}
